.btn {
  background-color: whitesmoke;
  border: 1px solid black;
  transition: box-shadow 500ms ease-in-out;
}

.dlt {
  height: 30px;
  width: 70px;
  margin-left: auto;
}

.btn:hover,
.dlt:hover {
    box-shadow: -1px 1px 10px 7px rgba(103, 37, 165, 0.5);
}

.sbmt {
    width: 150px;
}

.sbmt:hover {
    box-shadow: -1px 1px 10px 7px rgba(247, 150, 150, 0.75);
}
