.input {
    height: 30px;
    margin-left: 10px;
    margin-bottom: 30px;
    outline: black;
    border: none;
    border-bottom: 1px solid gray;
}

.input:hover {
    outline: 2px solid darkgreen;
}